{% extends "::base.html.twig" %}

{% block title %} Liste des sites {% endblock %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-university"></i> Sites</a></li>
            <li class="active">Liste</li>
        </ol>

        {% if success is defined  %}

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="box box-success box-solid" style="margin-bottom: 0px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Succès</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {{ success }}
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>

        {% endif %}

    </section>


    <section class="content">


        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-list"></i>
                    {% if actif == 1 %}
                        Liste des sites actifs
                    {% else %}
                        Liste des sites supprimés
                    {% endif %}

                </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="table-responsive">
                    <table id="example1" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Site</th>
                            <th>Heure ouverture jour</th>
                            <th>Heure fermeture jour</th>
                            <th>Heure ouverture nuit</th>
                            <th>Heure fermeture nuit</th>
                            <th class="center">Action(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in sites %}
                        <tr class="">
                            <td><span class="id">{{ s.id }}</span></td>
                            <td><span class="badge bg-info">{{ s.nomSite }}</span></td>

                            {% if s.HeureOuvJour != null %}
                                <td><span class="prenom">{{ s.HeureOuvJour| date('H:i') }}</span></td>
                            {% else %}
                                <td><span class="prenom"> - </span></td>
                            {% endif %}

                            {% if s.HeureFermJour != null %}
                                <td><span class="telephone">{{ s.HeureFermJour| date('H:i')}}</span></td>
                            {% else %}
                                <td><span class="telephone"> - </span></td>
                            {% endif %}

                            {% if s.HeureOuvNuit != null %}
                                <td><span class="telephone">{{ s.HeureOuvNuit| date('H:i')}}</span></td>
                            {% else %}
                                <td><span class="telephone"> - </span></td>
                            {% endif %}

                            {% if s.HeureFermNuit != null %}
                                <td><span class="telephone">{{ s.HeureFermNuit| date('H:i')}}</span></td>
                            {% else %}
                                <td><span class="telephone"> - </span></td>
                            {% endif %}

                            <td class="center">

                                {% if actif == 1 %}

                                    <a href="{{ path('modifier_site', {'id': s.id}) }}" class="btn btn-primary btn-xs">Modifier</a>

                                    <a href="{{ path('supprimer_site', {'id': s.id}) }}" class="btn btn-danger btn-xs">Supprimer</a>

                                    <a href="{{ path('site_enregistrer_vacation', {'id': s.id}) }}" class="btn btn-success btn-xs">Enregistrer vacation</a>

                                    <a href="{{ path('planning_site', {'id': s.id}) }}" class="btn btn-info btn-xs">Consulter planning</a>

                                    <a href="{{ path('site_recapitulatif', {'id': s.id}) }}" class="btn btn-default btn-xs">Récapitulatif</a>

                                {% endif %}


                                <a href="{{ path('operation_enregistrement_site', {'id': s.id}) }}" class="btn btn-warning btn-xs">Détails</a>

                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>


            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {#Footer#}
            </div>
            <!-- /.box-footer-->
        </div>
    </section>

{% endblock %}