<style type="text/css">
    table {width: 100% !important; border-collapse: collapse !important;}
    .header td {width: 50%; vertical-align: top;}
    .text-left {text-align: left;}
    .text-right {text-align: right;}
    .text-center {text-align: center;}
    .separator {height: 10px;}
    .breakW {word-wrap: break-word !important;}
    .content td {border: solid 1px #CFD1D2; padding: 2px;}
    .content th {border: solid 1px #000000; padding: 2px; background-color: #000000; color: #ffffff;}
    .bBlackFontWhite {background-color: yellow; color: #000000; font-weight: bold;}
</style>

<page backtop="0" backright="0" backbottom="0" backleft="0">

    <table class="header">
        <tr>
            <td class="text-left">
                <b>Client: </b> {{ site.nomSite }}<br><br>
                <b>Période: </b> {{ title }}
            </td>
        </tr>
    </table>

    <div class="separator"></div>

    <table id="" class="content">
        <thead>
            <tr>
                <th class="breakW">Agent</th>
                <th class="text-center">Date début</th>
                <th class="text-center">Date fin</th>
                <th class="text-center">Panier</th>
                <th class="text-center">HJ</th>
                <th class="text-center">HN</th>
                <th class="text-center">TH</th>
                <th class="text-center">HD</th>
                <th class="text-center">HF</th>
            </tr>
        </thead>
        <tbody>
        {% for v in vacations %}
            <tr class="">
                <td class="breakW"><span class="">{{ v.agent.nom }} {{ v.agent.prenom }}</span></td>
                <td class="text-center"><span class="">{{ v.heureDebVac| date('d/m/Y H:i') }}</span></td>
                <td class="text-center"><span class="">{{ v.heureFinVac| date('d/m/Y H:i') }}</span></td>
                <td class="text-center"><span class="">{{ v.heurePanier }}</span></td>
                <td class="text-center"><span class="">{{ v.heureJour }}</span></td>
                <td class="text-center"><span class="">{{ v.heureNuit }}</span></td>
                <td class="text-center"><span class="">{{ v.heureJour|sumheure(v.heureNuit) }}</span></td>
                {% if v.heureDimanche == "00:00" %}
                    <td class="text-center"><span class="">{{ v.heureDimanche }}</span></td>
                {% else %}
                    <td class="bBlackFontWhite text-center"><span>{{ v.heureDimanche }}</span></td>
                {% endif %}
                <td><span class="">{{ v.heureFerie }}</span></td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th colspan="3"></th>
            <th class="text-center">TP: <span class="badge bg-red"> {{ thp }}</span></th>
            <th class="text-center">THJ: <span class="badge bg-red"> {{ thj }}</span></th>
            <th class="text-center">THN: <span class="badge bg-red"> {{ thn }}</span></th>
            <th class="text-center">THM: <span class="badge bg-red"> {{ thj|sumheure(thn) }}</span></th>
            <th class="text-center">THD: <span class="badge bg-red"> {{ thd }}</span></th>
            <th class="text-center">THF: <span class="badge bg-red"> {{ thf }}</span></th>
        </tr>
        </tfoot>
    </table>
</page>